<img src="assets/MOH.png">
<div style="height: 300px;" ><header></header></div>
<!--<div class="ui action input">
  <input id="id1" required  type="text" placeholder="Enter Pharmacy Address...">

  <button (click)="naClic()" class="ui button">Login</button>
</div>-->
<form >
<div class="input-group mb-3" style="position: fixed">
  <input type="text" class="form-control" placeholder="Enter Pharmacy Address.."  style="margin-left:30%">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="router.navigateByUrl('/pharmacy')">OK</button>
    <button class="btn btn-danger" type="button" style="margin-right: 400px">Cancel</button>
  </div>
</div></form>

<ul>
  <li><a href="#home" class="active" style="float: right;">Home</a></li>
  <li><a href="#news" style="float: right;">News</a></li>
  <li><a href="#contact" style="float: right;">Contact</a></li>
  <li><a href="#about" style="float: right;">About</a></li>
  <li><a class="fas fa-hospital-symbol" style="font-size: 20px; float: left;"></a></li>
  <li><a class="fas fa-calendar-plus" style="font-size: 20px; float: left;"></a></li>
  <li><a class="fab fa-accessible-icon" style="font-size: 20px; float: left;"></a></li>
  <li><a class="fas fa-ambulance" style="font-size: 20px; float: left;"></a></li>
  <li><a class="fab fa-linkedin" style="font-size: 20px; float:left;padding-left:400px; "> </a></li>
  <li><a class="fab fa-instagram" style="font-size: 20px; float:left;"></a></li>
  <li><a class="fab fa-twitter" style="font-size: 20px; float:left;"></a></li>
  <li><a class="fab fa-facebook" style="font-size: 20px; float:left; "></a> </li>

</ul>

